.bg-custom-position {

    /* Adjust the size as needed */
    background-position: right -19% bottom 4%;
    /* Adjust the y-axis value as needed */
    /* transform: translateX(100px); */
}
@media only screen and (min-device-width:1920px){
.bg-custom-position {

        /* Adjust the size as needed */
        background-position: right 20% bottom 24%;
        /* Adjust the y-axis value as needed */
        /* transform: translateX(100px); */
    }
}
@media only screen and (min-device-width:1024px){
    .bg-custom-position {
    
            /* Adjust the size as needed */
            background-position: right -20% bottom 8%;
            /* Adjust the y-axis value as needed */
            /* transform: translateX(100px); */
        }
}